@model App.Areas.SalaryManagement.Models.Salary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicSalary.BasicSalaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowanceSalary.AllowanceSalaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BonusSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BonusSalary.BonusSalaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OvertimeSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OvertimeSalary.OvertimeSalaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BonusLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BonusLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalaryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
