@model App.Areas.EmployeeManagement.Models.Employee_Info
@* @model1 App.Areas.EmployeeManagement.Models.Employee_Skill *@

@{
    ViewData["Title"] = "Profiles";
}

<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />


<div>
    <div class="profile_background">
        <div class="profile_title">
            <h1>Profile</h1>
            <a asp-action="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-primary sm">Edit</a>
        </div>
        <div class="contain_profile">
            <div class="basic_information">
                <div class="information-title offset-1">
                    <p>Employee info</p>
                </div>
                <hr>
                <div class="basic_information-group">
                    <div class="information-group">
                         <dl class="col offset-1">
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.EmployeeName)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.DOB)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.DOB)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Sex)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Sex)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.PlaceOfBirth)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.PlaceOfBirth)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="detail_information">
                <div class="information-title offset-1">
                    <p>Employee profile detail</p>
                </div>
                <hr>
                <div class="information-group">
                    <div class="information-group1">
                        <dl class="col offset-1">
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.EmployeeName)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.DOB)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.DOB)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Sex)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Sex)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.PlaceOfBirth)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.PlaceOfBirth)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                        </dl>
                    </div>
                     <div class="information-group2">
                        <dl class="col offset-1">
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.EmployeeName)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.DOB)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.DOB)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Sex)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Sex)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.PlaceOfBirth)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.PlaceOfBirth)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>    
        </div>  
    </div>
   
</div>
<div class="offset-1 content-information">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>

<h1>Position</h1>

 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee_positions[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_positions[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_positions[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_positions[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.employee_positions) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>

<h1>Skill</h1>

 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee_skills[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_skills[0].Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_skills[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_skills[0].EvaluationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.employee_skills) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationDate)
            </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
