@model App.Areas.EmployeeManagement.Models.Employee

@{
    ViewData["Title"] = "Profiles";
}

<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />


<div>
    <div class="profile_background">
        <div class="profile_title">
            <h1>Profile</h1>
            <a asp-action="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-primary sm">Edit</a>
        </div>
        <div class="contain_profile">
            <div class="basic_information">
                <div class="information-title offset-1">
                    <p>Employee info</p>
                </div>
                <hr>
                <div class="basic_information-group">
                    <div class="information-group">
                         <dl class="col offset-1">
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.EmployeeName)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.DOB)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.DOB)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Sex)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Sex)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.PlaceOfBirth)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.PlaceOfBirth)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="detail_information">
                <div class="information-title offset-1">
                    <p>Employee profile detail</p>
                </div>
                <hr>
                <div class="information-group">
                    <div class="information-group1">
                        <dl class="col offset-1">
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.EmployeeName)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.DOB)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.DOB)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Sex)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Sex)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.PlaceOfBirth)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.PlaceOfBirth)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                        </dl>
                    </div>
                     <div class="information-group2">
                        <dl class="col offset-1">
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.EmployeeName)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.DOB)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.DOB)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Sex)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Sex)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.PlaceOfBirth)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.PlaceOfBirth)
                            </dd>
                            <dt class = "row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class = "row-sm-10 content-information">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>    
        </div>  
    </div>
   
</div>
<div class="offset-1 content-information">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>
