@model IEnumerable<App.Areas.EmployeeManagement.Models.Employee>

@{
    ViewData["Title"] = "Employee list";
}

<link href="/css/sb-admin-2.min.css" type="text/css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet">

<h1>@ViewData["Title"]</h1>
<!-- Page level plugins -->

<partial name="_AlertCreateMessage" />
<partial name="_AlertDeleteMessage" />

<div class="card shadow mx-5 mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Employee list</h6>
        <p>
            <a asp-action="Create" class="btn btn-primary float-right mt-n4">Create New</a>
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                </select> entries
                            </label>
                        </div>
                    </div>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="search" class="form-control bg-gray-200 border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2" value='@ViewData["GetEmployeeDetails"]'
                                name="EmpSearch" >
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                        @Html.DisplayNameFor(model => model.EmployeeName)
                                    </th>
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                        @Html.DisplayNameFor(model => model.Department)
                                    </th>
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                        @Html.DisplayNameFor(model => model.Level)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">
                                        @Html.DisplayNameFor(model => model.DOB)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">
                                        @Html.DisplayNameFor(model => model.Sex)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">
                                        @Html.DisplayNameFor(model => model.PlaceOfBirth)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <th style="width: 150px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Level.LevelName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DOB)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sex)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.EmployeeName)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Department)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Level)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.DOB)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Sex)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.PlaceOfBirth)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Address)</th>
                                    <th rowspan="1" colspan="1"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
