@model App.Areas.SalaryManagement.Models.BonusSalary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BonusSalary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BonusLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BonusLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrizeMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrizeMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BonusSalaryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
