@model App.Areas.SalaryManagement.Models.BonusSalary

=
<div>
    <h4>BonusSalary</h4>
    <hr />
    <dl class="row">
        @* <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.BonusLevel)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.BonusLevel)
        </dd> *@
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.BonusSalaryName)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.BonusSalaryName)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.PrizeMoney)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.PrizeMoney)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>|<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>
