@model IEnumerable<App.Areas.SalaryManagement.Models.OvertimeSalary>





<partial name="_AlertCreateMessage" />
<partial name="_AlertDeleteMessage" />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OvertimeSalaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moneyPerSession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OvertimeSalaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moneyPerSession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OvertimeSalaryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OvertimeSalaryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OvertimeSalaryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
