@model IEnumerable<App.Areas.SalaryManagement.Models.AllowanceSalary>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allowance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allowance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AllowanceSalaryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AllowanceSalaryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AllowanceSalaryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
